<div class="content">
    <h1>Items</h1>

        <div fxLayout="row wrap" fxLayoutGap="1.5rem grid">
                <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
                <h2>Filter By</h2>
                </div>
                <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
                    <!--List-->
                    <app-pokemon-item-list
                        [itemList]="items"
                        [chargeData]="chargeData"
                    >
                    </app-pokemon-item-list>
                </div>
        </div>  
</div>
