<mat-toolbar>
   <a [routerLink]="['home']"><img src="../../../../assets/images/pokeball.svg" alt="pokedex" width="50" height="50"></a>
   <span class="example-spacer"></span>
   <a [routerLink]="['home']"  mat-button>Home</a> 
   <a [routerLink]="['items']" mat-button>Items</a>
   <a [routerLink]="['moves']" mat-button>Moves</a>
   <a href="https://github.com/KatlheenEscoto" target="_blank"><button src="https://github.com/KatlheenEscoto" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="color: white;">
     <mat-icon>favorite</mat-icon>
   </button></a>
</mat-toolbar> 
