<div *ngIf="chargeData; else elseBlock">
  <div fxLayout="row wrap" fxLayoutGap="1.5rem grid">
          <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
            <p>
              <button mat-raised-button color="success" (click)="backToSearch()" style="margin-right: 0.2rem;">Back to Search</button>
            </p>
            <section>
              <h2>Filter By</h2>
              <div>
                <form [formGroup]="pokemonForm" (ngSubmit)="onSubmit()">
                  <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Filter by name</mat-label>
                      <input matInput type="text" name="name" placeholder="Filter by name" formControlName="name">
                      <mat-icon matSuffix>search</mat-icon>   
                    </mat-form-field>
                  </p> 
                    <p>
                      <mat-form-field appearance="outline">
                          <mat-label>Find by ability</mat-label>
                          <input
                            matInput 
                            type="text" 
                            formControlName="ability_name"
                            [matAutocomplete]="auto1" />
                          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" #auto1>
                            <mat-option *ngFor="let option of options" [value]="option">
                              {{ option }}
                            </mat-option>
                          </mat-autocomplete>
                          <mat-icon matSuffix>search</mat-icon> 
                      </mat-form-field>
                  </p>
                  <mat-label><h4>Find by types</h4></mat-label>
                  <p class="form-group">
                    <mat-selection-list #types formControlName="types">
                      <mat-list-option
                          #type
                          *ngFor="let typePokemon of typesPokemon"
                          [value]="typePokemon"
                          [disabled]="types.selectedOptions.selected.length >= 2 && !type.selected">
                        {{typePokemon}}
                      </mat-list-option>
                    </mat-selection-list>
                  </p>
                  <section>
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" style="margin-right: 0.2rem;" type="submit">Filter</button>
                        <button mat-raised-button color="primary" style="margin-right: 0.2rem;" type="button" (click)="clear()">Clear</button>
                    </div>
                  </section>
                </form>
              </div>
            </section>
            
          </div>
          <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
            <br>
            <br>
            <section class="buttons">
                <h2>Order By</h2>
                <div class="example-button-row">
                  <button mat-raised-button color="success" (click)="orderByAsc()" style="margin-right: 0.2rem;">A-Z</button>
                  <button mat-raised-button color="success" (click)="orderByDesc()" style="margin-right: 0.2rem;">Z-A</button>
                  <button mat-raised-button color="success" (click)="orderById()"># Pokedex</button>
                </div>
            </section>
            <ul class="list">
                <cdk-virtual-scroll-viewport  style="height: 450px" itemSize="90" >
                    <ng-container *cdkVirtualFor="let pokemon of pokemonList">
                    <li><button mat-button (click)="openDialog(pokemon.id)">{{pokemon.name}}</button></li>
                    </ng-container>
                </cdk-virtual-scroll-viewport>
            </ul>
          </div>
  </div>
</div>
<ng-template #elseBlock>
  <div fxLayout="column" fxLayoutAlign="center center">
      <div fxFlex>
          <h3>Loading Data...</h3>
      </div>
      <div fxFlex>
          <mat-spinner [diameter]="50" class="mat-spinner-color"></mat-spinner>
      </div>
  </div>
</ng-template>