<footer class="md-padding">
    <div id="btmFooter" flex>
        <div class="footer-copyright text-center py-3">
            <h3 style="margin: 0rem;">© 2021 Copyright</h3>
            <a mat-button href="https://github.com/KatlheenEscoto" target="_blank">Katlheen Escoto</a>
            <div class="example-button-container">
                <button mat-fab disabled aria-label="Example icon button with a heart icon">
                  <mat-icon>favorite</mat-icon>
                </button>
              </div>
        </div>
    </div>
</footer>
