<div *ngIf="chargeData; else elseBlock">
    <!--<h1 style="text-align: right; padding-right: 1rem;">Moves</h1> -->
    <section>
        Order By:
        <div class="example-button-row">
          <button mat-raised-button color="success" style="margin-right: 0.2rem;" (click)="orderByAsc()">A-Z</button>
          <button mat-raised-button color="success" (click)="orderByDesc()">Z-A</button>
        </div>
    </section>

    <ul class="list">
        <cdk-virtual-scroll-viewport  style="height: 450px" itemSize="90" >
            <ng-container *cdkVirtualFor="let move of moveList">
            <li><button mat-button (click)="openDialog(move.id)">{{move.name}}</button></li>
            </ng-container>
        </cdk-virtual-scroll-viewport>
    </ul>
</div>
<ng-template #elseBlock>
    <div fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex>
            <h3>Loading Data...</h3>
        </div>
        <div fxFlex>
            <mat-spinner [diameter]="50" class="mat-spinner-color"></mat-spinner>
        </div>
    </div>
</ng-template>